
body{
    background-image: url("https://images.alphacoders.com/107/107763.jpg");
    /* scrollbar-color: red; */
    background-size: 150%;
}
.characterName{
    font-size: 50px;
    font-weight: 600;
}
.fontDetail{
    font-size: 25px;
    font-weight: 600;
}
.fontbtn{
    font-size: 18px;
    font-weight: 600;

}

.texto{
    color: rgb(178, 177, 179);
}
.texto2{
    font-size: 60px;
}
.btnLuz{
    background-color: rgb(240, 65, 65);
    font-weight: bolder;
}
.btnLuz:hover{
    box-shadow: 0px 0px 12px 1px rgba(250, 248, 248, 0.596);
}
.background:hover{
    box-shadow: 0px 0px 12px 1px rgba(236, 236, 236, 0.596);
}
.cargando{
    box-shadow: 0px 0px 12px 1px rgba(236, 236, 236, 0.596);
  
}
.background{
    background-color: rgba(98, 120, 139, 0.329);
    backdrop-filter: blur(1px);
}
.notfound, .cargando{
    background-image: url(https://images2.alphacoders.com/763/76382.jpg);
    height: 100vh;
    
}
