
body{
    background-image: url("https://images.alphacoders.com/107/107763.jpg");
    /* scrollbar-color: red; */
    background-size: 150%;
}
.characterName{

    font-size: 30px;
    color: white;
    font-weight: 400;
}
.fontDetail{
    font-size: 25px;
    font-weight: 600;
}
.fontbtn{
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 0px 12px 1px rgba(226, 221, 221, 0.596);
    font-weight: bolder ;

}
.favBtn:hover{
    box-shadow: 0px 0px 12px 1px rgba(226, 221, 221, 0.596);
    border: none;

}
.texto{
    color: rgb(178, 177, 179);
}
.texto2{
    font-size: 60px;
}
.navbar{
    background-color: rgba(25, 25, 26, 0);
    box-shadow: 0px 0px 1px 0px rgba(236, 236, 236, 0.74);  
}
.navtwo{
    background-color: rgba(128, 128, 131, 0.075);

}
/* logo starwars .na */
.na{    
    display: flex;
    justify-content: center;
    margin: auto;
    /* position: absolute; */
    left: 0;
    right: 0;
    height:fit-content;
    width: 130px;
}
.btn-clear{    
    background: rgba(14, 13, 13, 0.61);
    color: rgba(250, 235, 215, 0.596);
    margin-left: 1rem;
    margin-right: 1rem;
}
.btn-clear:hover{    
    background: rgba(14, 13, 13, 0.61);
    color: rgba(250, 235, 215, 0.952);
    /* border: 1px solid rgba(250, 228, 188, 0.288); */
    text-shadow: 0px 1px 1px #fade4b;


}
.light-item:hover{
    text-shadow: 0px 0px 7px #fade4b;
    box-shadow: 0px 0px 4px 1px #fade4b;
}
.bg-clear{
    background: rgba(14, 13, 13, 0.61);
    color: rgba(250, 235, 215, 0.596);
    /* border: 1px solid rgba(250, 228, 188, 0.288); */
}
.bg-clear:hover{
    background: rgba(14, 13, 13, 0.61);
    color: rgba(250, 235, 215, 0.952);
    /* border: 1px solid rgba(250, 228, 188, 0.288); */
}

.item-clear{
    background: rgba(8, 8, 8, 0.308);
    color: rgba(250, 235, 215, 0.596);

}
.item-clear:hover{
    box-shadow: 0px 0px 1px 1px rgba(236, 236, 236, 0.596);
    background: rgba(71, 71, 71, 0.336);
    color: rgba(250, 235, 215, 0.952);
}
.link-clear{
    color: rgba(252, 252, 252, 0.781);
    text-transform: uppercase;
    font-weight: 600;
    font-size: small;
}
.link-clear:hover{
    color: rgba(247, 232, 212, 0.952);
}
.clear-header{
    color: rgba(252, 252, 252, 0.781);
    text-transform: uppercase;
    font-weight: 600;
}
.clear-header:hover{
    color: rgba(247, 232, 212, 0.952);
}
.light-underline:hover:before{
    content: '';
    bottom: 0;
    height: 1px;
    width: 50px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 4px 1px #fade4b;
    border-radius: 4px;
    position: absolute;
    
}

.card{
    border: none !important;
}
.test::before, .test::after{
    content: "";
    left: 0;
    border-right: 14px solid transparent;
    width: 18%;
    bottom: -14px;
    border-top: 19px solid #212529;
    display: block;
    position: absolute;
    z-index: -1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 24px;
}
 /* test after, es necesario ponerlo 2 veces */
.test::after {
    left: initial;
    right: 0;
    border-right: none;
    border-left: 14px solid transparent;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 8px;
}
.test::before{
    left: 0;
    border-right: 12px solid transparent;
    width: 63%;
}
.background:hover{
    background: rgba(14, 13, 13, 0.61);
    color: rgba(250, 235, 215, 0.952);
    border: 1px solid rgba(250, 228, 188, 0.288);
}

.background{
    background: rgba(67, 67, 68, 0.178);
    color: rgba(250, 235, 215, 0.596);
    border: 1px solid rgba(250, 228, 188, 0.288);
}
/* .nav-btn{
   
} */
/* .bigger-card{
    width: 25rem;
    height: 10rem;
    
    margin: 1rem;
} */

.notfound, .cargando{
    background-image: url(https://images2.alphacoders.com/763/76382.jpg);
    height: 100vh;
    
}
.cargando{
    box-shadow: 0px 0px 12px 1px rgba(236, 236, 236, 0.596);  
}
.accordion-button{
    color: white !important;
}
.clear-icon{
    text-shadow: #f8f8f8;
}